/* Special Modifications */
.breadcrumb {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: inherit;
}

.error-feedback {
    color: #cc0000;
    font-size: 80%;
    margin-bottom: 0px;
    margin-top: 0.25rem;
}

.text-small-caps {
    font-variant: small-caps;
}

/* ContextMenu */
.contextmenu-item-custom-style {
    font-size: 80%;
    font-weight: 400;
    color: #212529 !important;
}

.contextmenu-item-custom-style i {
    color: #212529 !important;
    font-family: "Font Awesome 6 Pro" !important;
}

.contextmenu-item-custom-style:hover {
    color: #ffffff !important;
    background-color: #343a40 !important;
}

.contextmenu-item-custom-style:hover i {
    color: #ffffff !important;
}

/* Custom Text Colors */
.txt-critical {
    color: #e60000;
}

.txt-major {
    color: #ff4d00;
}

.txt-minor {
    color: #ffa106;
}

.txt-warning {
    color: #009c9d;
}

.txt-normal {
    color: #4cbb16;
}

.txt-unknown {
    color: #0a4c68;
}

.txt-open {
    color: #3968ed;
}

.txt-in-progress {
    color: #818181;
}

.txt-resolved {
    color: #4cbb16;
}

.txt-closed {
    color: #000000;
}

/* DataTables */
.dt-buttons {
    padding-top: 0px;
    margin-bottom: 0px;
}

.dataTables_wrapper .dataTables_filter input {
    border: none;
    margin-left: 10px;
    border-radius: 0px;
}

.dataTables_wrapper .dataTables_filter input.focus, .dataTables_wrapper .dataTables_filter input:focus {
    background-image: linear-gradient(#343a40, #343a40), linear-gradient(#e9ecef, #e9ecef);
}

table.dataTable thead > tr > th.sorting_asc::before, table.dataTable thead > tr > th.sorting_desc::after, table.dataTable thead > tr > td.sorting_asc::before, table.dataTable thead > tr > td.sorting_desc::after {
    opacity: 1;
}

table.dataTable tbody tr.selected > * {
    color: #212529;
    box-shadow: inset 0 0 0 9999px #cfcfcf;
}

table.dataTable.no-footer {
    border-bottom: none;
}

/* Dropdown */
.dropdown-item.active, .dropdown-item:active {
    background-color: #343a40;
}

/* MultiSelect */
.ms-container {
    width: 100%;
}

.ms-container .ms-selectable li.ms-hover, .ms-container .ms-selection li.ms-hover {
    background-color: #343a40;
}

/* Scrollable Tables */
.table-scrollable {
    overflow: auto;
    max-width: 100%;
    max-height: 500px;
    font-size: 80% !important;
    white-space: nowrap !important;
}

.table-scrollable.table-scrollable-sm {
    max-height: 375px;
}

.table-scrollable table {
    cursor: pointer;
    margin: 0 !important;
}

.table-scrollable table thead tr th {
    top: 0;
    z-index: 1;
    position: sticky !important;
}

/* Select2 */
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #343a40;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] i {
    color: #ffffff;
}

.input-group > .select2-container--default {
    width: auto;
    flex: 1 1 auto;
}

/* Toast */
.toast-message {
    font-size: 80%;
}