<template>
	<div>

		<div class="row">
			<div class="col-12 mb-2">
				<button type="button" class="btn btn-primary" v-if="!displayCreateForm" v-on:click="openCreateForm()">Configurar alerta</button>
				<button type="button" class="btn btn-primary" v-if="displayCreateForm" v-on:click="closeCreateForm()">Regresar a alerta</button>
			</div>
		</div>

		<div class="row" v-if="!displayCreateForm">
			<div class="col-12" v-if="instanceAlarmsList.length > 0">
				<table class="table table-striped">
					<thead>
						<th class="text-jutify"><small class="font-weight-bold">Nombre</small></th>
						<th class="text-jutify"><small class="font-weight-bold">Métrica</small></th>
						<th class="text-jutify"><small class="font-weight-bold">Namespace</small></th>
						<th class="text-jutify"><small class="font-weight-bold">Eliminar</small></th>
					</thead>
					<tbody>
						<tr v-for="alarm in instanceAlarmsList">
							<td>{{alarm.AlarmName}}</td>
							<td>{{alarm.MetricName}}</td>
							<td>{{alarm.Namespace}}</td>
							<td>
								<button type="button" class="btn btn-primary" v-on:click="deleteAlert(alarm)">Eliminar</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-12" v-else>
				<h3 class="text-center">No se encontró alerta</h3>
			</div>
		</div>

		<div class="row" v-else>

			<div class="col-12" v-if="metricsList.length > 0">

				<div class="row">

					<div class="col-4">
						<div class="row">
							<div class="col-12">
								<div class="form-group">
									<label for="alertName">Nombre</label>
									<input type="text" class="form-control" id="alertName" name="alertName" v-model="alertName" placeholder="Nombre">
								</div>
							</div>
							<div class="col-12">
								<div class="form-group">
									<label for="alertMetric">Lista de métricas</label>
									<select class="form-control" id="alertMetric" name="alertMetric" v-model="alertMetric" v-on:change="loadAlertTemplate(alertMetric)">
										<option v-for="metric in metricsList" :value="metric.Id">{{ metric.Prefix }}</option>
									</select>
								</div>
							</div>
							<div class="col-12">
								<div class="form-group">
									<label for="alertSNS">SNS</label>
									<select class="form-control" id="alertSNS" name="alertSNS" v-model="alertSNS">
										<option v-for="sns in topicsList" v-bind:value="sns">{{sns}}</option>
									</select>
								</div>
							</div>
						</div>						
					</div>

					<div class="col-8">
						<div class="row">
							<div class="col-4">
								<div class="form-group">
									<label for="alertNamespace">Namespace</label>
									<input type="text" class="form-control" id="alertNamespace" name="alertNamespace" v-model="alertNamespace" disabled>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group">
									<label for="alertPrefix">Prefix</label>
									<input type="text" class="form-control" id="alertPrefix" name="alertPrefix" v-model="alertPrefix" disabled>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-5">
								<div class="form-group">
									<label for="alertMetricName">Nombre</label>
									<input type="text" class="form-control" id="alertMetricName" name="alertMetricName" v-model="alertMetricName" disabled>
								</div>
							</div>
							<div class="col-3">
								<div class="form-group">
									<label for="alertPeriod">Periodo Segs</label>
									<input type="text" class="form-control" id="alertPeriod" name="alertPeriod" v-model="alertPeriod" disabled>
								</div>
							</div>
							<div class="col-2">
								<div class="form-group">
									<label for="alertEvaluationPeriods">Poleos</label>
									<input type="text" class="form-control" id="alertEvaluationPeriods" name="alertEvaluationPeriods" v-model="alertEvaluationPeriods" disabled>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-2">
								<div class="form-group">
									<label for="alertStatistics">Estadística</label>
									<input type="text" class="form-control" id="alertStatistics" name="alertStatistics" v-model="alertStatistics" disabled>
								</div>
							</div>
							<div class="col-5">
								<div class="form-group">
									<label for="alertComparisonOperator">Operador</label>
									<input type="text" class="form-control" id="alertComparisonOperator" name="alertComparisonOperator" v-model="alertComparisonOperator" disabled>
								</div>
							</div>
							<div class="col-2">
								<div class="form-group">
									<label for="alertThreshold">Threshold</label>
									<input type="text" class="form-control" id="alertThreshold" name="alertThreshold" v-model="alertThreshold" disabled>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-2">
								<div class="form-group">
									<label for="alertCriticality">Criticidad</label>
									<input type="text" class="form-control" id="alertCriticality" name="alertCriticality" v-model="alertCriticality" disabled>
								</div>
							</div>
							<div class="col-4">
								<div class="form-group">
									<label for="alertTower1">Torre 1</label>
									<input type="text" class="form-control" id="alertTower1" name="alertTower1" v-model="alertTower1" disabled>
								</div>
							</div>
							<div class="col-4">
								<div class="form-group">
									<label for="alertTower2">Torre 2</label>
									<input type="text" class="form-control" id="alertTower2" name="alertTower2" v-model="alertTower2" disabled>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<div class="form-group">
									<label for="configureAlert">Configurar</label>
									<button type="button" class="btn btn-primary" id="configureAlert" name="configureAlert" v-on:click="saveAlertCreated()">Configurar</button>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

			<div class="col-12" v-else>
				<h3 class="text-center">No existen plantillas de alertas</h3>
			</div>

		</div>

	</div>
</template>

<script>

	export default {

		data() {

			return {
				url_base: 'https://itoc-plus.triara.mexico/api/aws/',

				instanceId: null,
				accountId: null,
				topicsList: [],

				clientId: null,
				instanceType: null,
				instanceAlarmsList: [],
				displayCreateForm: false,
				metricsList: [],

				alertMetric: null,

				alert: null,
				alertName: null,
				alertSNS: null,
				alertNamespace: null,
				alertPrefix: null,
				alertMetricName: null,
				alertPeriod: null,
				alertEvaluationPeriods: null,
				alertStatistics: null,
				alertComparisonOperator: null,
				alertThreshold: null,
				alertCriticality: null,
				alertTower1: null,
				alertTower2: null, 
				httpsAgent: null
			}

		},

		async created() {

			let splittedPath = window.location.pathname.split('/');
			this.instanceId = splittedPath[splittedPath.length - 1];
			this.accountId = splittedPath[splittedPath.length - 2];

			let c_location = window.location.href.replace(window.location.pathname, '');
			if(c_location !== null && c_location !== undefined && typeof c_location === 'string' && c_location.length > 0) {
				this.url_base = c_location + '/api/aws/';
			}

			const requestOptionsGetListTopics = {
				method: 'POST',
				headers: {
					'Content-type': 'application/json',
				},
				body: JSON.stringify({
					Credential: {
						TypeSession: 2,
						Accountid: this.accountId,
						Id: this.instanceId
					},
					'TypeInstance': 'sns'
				})
			};

			var responseGetListTopics = await fetch(this.url_base + 'agent/getListTopics', requestOptionsGetListTopics);
			var dataGetListTopics = await responseGetListTopics.json();

			let topicListBuffer = [];
			if('Topics' in dataGetListTopics) {
				let topicsList = dataGetListTopics['Topics'];
				if( Array.isArray(topicsList) ) {
					for(var i = 0; i < topicsList.length; i++) {
						if('TopicArn' in topicsList[i]) {
							let topicARN = topicsList[i]['TopicArn'];
							topicListBuffer[topicListBuffer.length] = topicARN;
						}
					}
				}
			}
			this.topicsList = topicListBuffer;

		},

		methods: {

			async loadAlarmsByInstance(idInstance, accountId, clientId, instanceType) {

				this.instanceId = idInstance;
				this.accountId = accountId;
				this.clientId = clientId;
				this.instanceType = instanceType;

				const requestOptionsPostDescribeAlarms = {
					method: 'POST',
					headers: {
						'Content-type': 'application/json',
					},
					body: JSON.stringify({
						Credential: {
							TypeSession: 2,
							Accountid: this.accountId,
							Id: this.clientId
						},
						TypeInstance: 'cloudwatch',
						AlarmNames: []
					}),
				};

				var responsePostDescribeAlarms = await fetch(this.url_base + 'agent/getDescribeAlarms', requestOptionsPostDescribeAlarms);
				var dataPostDescribeAlarms = await responsePostDescribeAlarms.json();

				let tmpInstanceAlarmList = [];
				if('MetricAlarms' in dataPostDescribeAlarms) {

					let metricAlarm = dataPostDescribeAlarms['MetricAlarms'];

					for(let i = 0; i < metricAlarm.length; i++) {

						let alarm = metricAlarm[i];

						if('Dimensions' in alarm && Array.isArray(alarm['Dimensions'])) {
							for(let j = 0; j < alarm['Dimensions'].length; j++) {
								if('Value' in alarm['Dimensions'][j]) {
									if(alarm['Dimensions'][0]['Value'] === idInstance) {
										tmpInstanceAlarmList[tmpInstanceAlarmList.length] = alarm;
									}
								}
							}
						}

					}

				}

				this.instanceAlarmsList = tmpInstanceAlarmList;
			},

			async openCreateForm() {

				this.displayCreateForm = true;

				const requestOptionsGetAlarmMetric = {
					method: 'POST',
					headers: {
						'Content-type': 'application/json',
					},
					body: JSON.stringify({
						Credential: {
							Name: ''
						}
					})
				};

				var responseGetAlarmMetric = await fetch(this.url_base + 'dataBase/getAlarmMetric', requestOptionsGetAlarmMetric);
				var dataGetAlarmMetric = await responseGetAlarmMetric.json();

				let metricListBuffer = [];
				if('Metric' in dataGetAlarmMetric) {

					let metricList = dataGetAlarmMetric['Metric'];

					for(let i = 0; i < metricList.length; i++) {

						let cNamespace = metricList[i].Namespace;

						if(cNamespace !== null && cNamespace !== undefined && cNamespace.indexOf('/') > -1) {

							cNamespace = cNamespace.split('/');
							cNamespace = cNamespace[cNamespace.length - 1];

							if(cNamespace.toLocaleLowerCase() === this.instanceType.toLocaleLowerCase()) {
								metricList[i]['PeriodMinutes'] = (metricList[i].Period / 60);
								metricListBuffer[metricListBuffer.length] = metricList[i];
							}

						}

					}

				}

				this.metricsList = metricListBuffer;
			},

			loadAlertTemplate: function(metricId) {

				let c_metric;

				for(var i = 0; i < this.metricsList.length; i++) {
					if(this.metricsList[i].Id === metricId) {
						c_metric = this.metricsList[i];
					}
				}

				this.alert = c_metric;
				this.alertNamespace = c_metric.Namespace;
				this.alertPrefix = c_metric.Prefix;
				this.alertMetricName = c_metric.Metricname;
				this.alertPeriod = c_metric.Period;
				this.alertEvaluationPeriods = c_metric.Evaluationperiods;
				this.alertStatistics = c_metric.Statistic;
				this.alertComparisonOperator = c_metric.Comparisonoperator;
				this.alertThreshold = c_metric.Threshold;
				this.alertCriticality = c_metric.Typealarm;
				this.alertTower1 = c_metric.Tower1;
				this.alertTower2 = c_metric.Tower2;

			},

			closeCreateForm: function() {

				this.alert = null;
				this.alertName = null;
				this.alertMetric = null;
				this.alertSNS = null;
				this.alertNamespace = null;
				this.alertPrefix = null;
				this.alertMetricName = null;
				this.alertPeriod = null;
				this.alertEvaluationPeriods = null;
				this.alertStatistics = null;
				this.alertComparisonOperator = null;
				this.alertThreshold = null;
				this.alertCriticality = null;
				this.alertTower1 = null;
				this.alertTower2 = null;


				this.displayCreateForm = false;
			},

			reloadAlertsOffset: function() {

				this.loadAlarmsByInstance(this.instanceId, this.accountId, this.clientId, this.instanceType);

			},

			async saveAlertCreated() {

				if(this.alert != null &&
				this.alertName !== null && this.alertName !== undefined && this.alertName.length > 0 &&
				this.alertSNS !== null && this.alertSNS !== undefined && this.alertSNS.length > 0) {

					const requestOptionsGetTypeServices = {
						method: 'POST',
						headers: {
							'Content-type': 'application/json',
						},
						body: JSON.stringify({
							Credential: {
								Name: this.instanceType
							}
						})
					};

					var responseGetTypeServices = await fetch(this.url_base + 'dataBase/getTypeServices', requestOptionsGetTypeServices);
					var dataGetTypeServices = await responseGetTypeServices.json();

					let dimensionname = '';
					if('User' in dataGetTypeServices) {
						let getTypeList = dataGetTypeServices['User'];
						getTypeList = getTypeList[0];
						dimensionname = getTypeList['Dimensionsname'];
					}

					const requestOptionsPutMetricAlarm = {
						method: 'PUT',
						headers: {
							'Content-type': 'application/json',
						},
						body: JSON.stringify({
							Credential: {
								TypeSession: 2,
								Accountid: this.accountId,
								Id: this.clientId
							},
							TypeInstance: 'cloudwatch',
							CreateMetricAlarms: [
								{
									InstanceId: this.instanceId,
									TopicArn: this.alertSNS,
									TypeInstance: this.instanceType.toUpperCase(),
									NameClient: this.alertName,
									Tower1: this.alert.Tower1,
									RFC: '999999',
									Tower2: this.alert.Tower2,
									CI: '999999',
									Prefix: this.alert.Prefix,
									AlarmDescription: this.alert.Alarmdescription,
									ActionsEnabled: this.alert.Actionsenabled === 1 ? true : false,
									MetricName: this.alert.Metricname,
									Namespace: this.alert.Namespace,
									Statistic: this.alert.Statistic,
									Period: parseInt(this.alert.Period),
									EvaluationPeriods: parseInt(this.alert.Evaluationperiods),
									DatapointsToAlarm: parseInt(this.alert.Evaluationperiods),
									Threshold: this.alert.Threshold,
									ComparisonOperator: this.alert.Comparisonoperator,
									TypeAlarm: this.alert.Typealarm.toLocaleLowerCase() == 'minor' ? this.alert.Typealarm : '',
									DimensionsName: dimensionname
								}
							]
						})
					};

					fetch(this.url_base + 'agent/putMetricAlarms', requestOptionsPutMetricAlarm);

					this.closeCreateForm();
					window.setTimeout(this.reloadAlertsOffset, 5000);

				}

			},

			async deleteAlert(alert) {
				let confirmation = confirm("¿Deseas eliminar la alerta?");

				if(confirmation) {

					const requestOptionsDeleteAlarm = {
						method: 'POST',
						headers: {
							'Content-type': 'application/json',
						},
						body: JSON.stringify({
							Credential: {
								TypeSession: 2,
								Accountid: this.accountId,
								Id: this.clientId
							},
							TypeInstance: 'cloudwatch',
							AlarmNames: [
								alert.AlarmName
							]
						})
					};

					fetch(this.url_base + 'agent/postDeleteAlarms', requestOptionsDeleteAlarm);

					window.setTimeout(this.reloadAlertsOffset, 5000);

				}

			},

		}
	}
</script>
