<template>
	<div>
		<div v-if="!displayCreateForm">
			<div class="row">
				<div class="col-12">
					<table class="table table-striped">
						<thead>
							<th class="text-jutify">
								<small class="font-weight-bold">Id</small>
							</th>
							<th class="text-jutify">
								<small class="font-weight-bold">Métrica</small>
							</th>
							<th class="text-jutify">
								<small class="font-weight-bold">Prefijo</small>
							</th>
							<th class="text-jutify">
								<small class="font-weight-bold">Namespace</small>
							</th>
							<th class="text-jutify">
								<small class="font-weight-bold">Configurar</small>
							</th>
						</thead>
						<tbody>
							<tr v-for="alarm in alertsTemplatesList">
								<td>{{alarm.Id}}</td>
								<td>{{alarm.Metricname}}</td>
								<td>{{alarm.Prefix}}</td>
								<td>{{alarm.Namespace}}</td>
								<td>
									<button type="button" class="btn btn-primary" v-on:click="openCreateForm(alarm)">Configurar</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div v-else>
			<div class="row">
				<div class="col-4">
					<div class="form-group">
						<label for="alertNamespace">Namespace</label>
						<input type="text" class="form-control" id="alertNamespace" name="alertNamespace" v-model="alertNamespace" disabled>
					</div>
				</div>
				<div class="col-6">
					<div class="form-group">
						<label for="alertPrefix">Prefix</label>
						<input type="text" class="form-control" id="alertPrefix" name="alertPrefix" v-model="alertPrefix" disabled>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-5">
					<div class="form-group">
						<label for="alertMetricName">Nombre de Métrica</label>
						<input type="text" class="form-control" id="alertMetricName" name="alertMetricName" v-model="alertMetricName" disabled>
					</div>
				</div>
				<div class="col-3">
					<div class="form-group">
						<label for="alertPeriod">Periodo Segs</label>
						<input type="text" class="form-control" id="alertPeriod" name="alertPeriod" v-model="alertPeriod" disabled>
					</div>
				</div>
				<div class="col-2">
					<div class="form-group">
						<label for="alertEvaluationPeriods">Poleos</label>
						<input type="text" class="form-control" id="alertEvaluationPeriods" name="alertEvaluationPeriods" v-model="alertEvaluationPeriods" disabled>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-2">
					<div class="form-group">
						<label for="alertStatistics">Estadística</label>
						<input type="text" class="form-control" id="alertStatistics" name="alertStatistics" v-model="alertStatistics" disabled>
					</div>
				</div>
				<div class="col-5">
					<div class="form-group">
						<label for="alertComparisonOperator">Operador</label>
						<input type="text" class="form-control" id="alertComparisonOperator" name="alertComparisonOperator" v-model="alertComparisonOperator" disabled>
					</div>
				</div>
				<div class="col-2">
					<div class="form-group">
						<label for="alertThreshold">Threshold</label>
						<input type="text" class="form-control" id="alertThreshold" name="alertThreshold" v-model="alertThreshold" disabled>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-2">
					<div class="form-group">
						<label for="alertCriticality">Criticidad</label>
						<input type="text" class="form-control" id="alertCriticality" name="alertCriticality" v-model="alertCriticality" disabled>
					</div>
				</div>
				<div class="col-4">
					<div class="form-group">
						<label for="alertTower1">Torre 1</label>
						<input type="text" class="form-control" id="alertTower1" name="alertTower1" v-model="alertTower1" disabled>
					</div>
				</div>
				<div class="col-4">
					<div class="form-group">
						<label for="alertTower2">Torre 2</label>
						<input type="text" class="form-control" id="alertTower2" name="alertTower2" v-model="alertTower2" disabled>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<div class="form-group">
						<label for="alertName">Nombre</label>
						<input type="text" class="form-control" id="alertName" name="alertName" v-model="alertName" placeholder="Nombre">
					</div>
				</div>
				<div class="col-6">
					<div class="form-group">
						<label for="alertSNS">SNS</label>
						<select class="form-control" id="alertSNS" name="alertSNS" v-model="alertSNS">
							<option v-for="sns in topicsList" v-bind:value="sns">{{sns}}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-3">
					<button type="button" class="btn btn-primary" v-on:click="saveAlertCreated()">Guardar</button>
				</div>
				<div class="col-3">
					<button type="button" class="btn btn-primary" v-on:click="closeCreateForm()">Regresar</button>
				</div>
			</div>
		</div>

	</div>
</template>

<script>

	export default {

		data() {

			return {
				url_base: 'https://itoc-plus.triara.mexico/api/aws/',

				instanceId: null,
				accountId: null,

				serviceType: null,
				namespace: null,

				selectedAllInstances: false,
				displayCreateForm: false,

				alert: null,
				alertName: null,
				alertSNS: null,
				alertNamespace: null,
				alertPrefix: null,
				alertMetricName: null,
				alertPeriod: null,
				alertEvaluationPeriods: null,
				alertStatistics: null,
				alertComparisonOperator: null,
				alertThreshold: null,
				alertCriticality: null,
				alertTower1: null,
				alertTower2: null,


				topicsList: [],
				alertsTemplatesList: [],

				checkedInstancesList: [],
			}

		},

		async created() {

			let splittedPath = window.location.pathname.split('/');
			this.instanceId = splittedPath[splittedPath.length - 1];
			this.accountId = splittedPath[splittedPath.length - 2];

			let c_location = window.location.href.replace(window.location.pathname, '');
			if(c_location !== null && c_location !== undefined && typeof c_location === 'string' && c_location.length > 0) {
				this.url_base = c_location + '/api/aws/';
			}

			// Se obtiene la lista de servicios
			const requestOptionsPostServiceTypes = {
				method: 'POST',
				headers: {
					'Content-type': 'application/json',
				},
				body: JSON.stringify({
					Credential: {
						Name: ""
					}
				}),
			};

			var responsePostServiceTypes = await fetch(this.url_base + 'dataBase/getTypeServices', requestOptionsPostServiceTypes);
			var dataPostServiceTypes = await responsePostServiceTypes.json();

			let cServiceType = null;
			if('User' in dataPostServiceTypes) {

				let serviceTypesArray = dataPostServiceTypes['User'];

				if(Array.isArray(serviceTypesArray)) {
					for( var i = 0; i < serviceTypesArray.length; i++ ) {
						if('Nombre' in serviceTypesArray[i]) {

							let serviceTypeName = serviceTypesArray[i]['Nombre'].toLowerCase();

							for( var j = 0; j < splittedPath.length; j++ ) {
								if(splittedPath[j].toLocaleLowerCase() == serviceTypeName) {
									cServiceType = splittedPath[j].toLocaleLowerCase();
								}
							}

						}
					}
				}

			}

			this.serviceType = cServiceType.toLocaleUpperCase();
			this.namespace = 'AWS/' + this.serviceType;

			// Se obtiene la lista de Topics
			const requestOptionsGetListTopics = {
				method: 'POST',
				headers: {
					'Content-type': 'application/json',
				},
				body: JSON.stringify({
					Credential: {
						TypeSession: 2,
						Accountid: this.accountId,
						Id: this.instanceId
					},
					'TypeInstance': 'sns'
				}),
			};

			var responseGetListTopics = await fetch(this.url_base + 'agent/getListTopics', requestOptionsGetListTopics);
			var dataGetListTopics = await responseGetListTopics.json();

			let topicListBuffer = [];
			if('Topics' in dataGetListTopics) {
				let topicsList = dataGetListTopics['Topics'];
				if( Array.isArray(topicsList) ) {
					for(var i = 0; i < topicsList.length; i++) {
						if('TopicArn' in topicsList[i]) {
							let topicARN = topicsList[i]['TopicArn'];
							topicListBuffer[topicListBuffer.length] = topicARN;
						}
					}
				}
			}
			this.topicsList = topicListBuffer;
		},

		methods: {

			selectAllCheckbox: function() {

				let inputCheckedList = $('input[type=checkbox]');

				if(!this.selectedAllInstances) {

					$('#selectButton').html('Unselect All');

					for(let i = 0; i < inputCheckedList.length; i++) {
						$(inputCheckedList[i]).prop('checked', true);
						this.checkedInstancesList.push($(inputCheckedList[i]).prop('value'));
					}

					this.selectedAllInstances = true;
				}
				else {

					$('#selectButton').html('Select All');

					for(let i = 0; i < inputCheckedList.length; i++) {
						$(inputCheckedList[i]).prop('checked', false);
					}

					this.checkedInstancesList = [];
					this.selectedAllInstances = false;
				}

				this.checkedInstanceListWatch();
			},

			checkChangeFunction: function(id) {
				let c_checkbox = $('#checked_' + id);
				if(c_checkbox.prop('checked')) {

					this.checkedInstancesList.push(id);

				}
				else {

					for(let i = 0; i < this.checkedInstancesList.length; i++) {

						if(this.checkedInstancesList[i] === id) {
							this.checkedInstancesList.splice(i, 1);
						}

					}

				}

				this.checkedInstanceListWatch();
			},

			checkedInstanceListWatch: function() {

				if(this.checkedInstancesList.length > 0) {

					$('#alertasMasivasModalButton').prop('disabled', false);

				}
				else {

					$('#alertasMasivasModalButton').prop('disabled', true);

				}

			},

			async loadAlertsTemplates() {

				const requestOptionsGetAlarmMetric = {
					method: 'POST',
					headers: {
						'Content-type': 'application/json',
					},
					body: JSON.stringify({
						Credential: {
							Name: ''
						}
					}),
				};

				var responseGetAlarmMetric = await fetch(this.url_base + 'dataBase/getAlarmMetric', requestOptionsGetAlarmMetric);
				var dataGetAlarmMetric = await responseGetAlarmMetric.json();

				let cAlertsTemplateList = [];
				if('Metric' in dataGetAlarmMetric) {
					
					let cMetric = dataGetAlarmMetric['Metric'];
					for(var i = 0; i < cMetric.length; i++) {
						if(cMetric[i].Namespace == this.namespace) {
							cAlertsTemplateList.push(cMetric[i]);
						}
					}

					this.alertsTemplatesList = cAlertsTemplateList;
				}

			},

			openCreateForm: function(alarm) {

				this.displayCreateForm = true;

				// this.alertName;
				// this.alertSNS;
				this.alert = alarm;
				this.alertNamespace = alarm.Namespace;
				this.alertPrefix = alarm.Prefix;
				this.alertMetricName = alarm.Metricname;
				this.alertPeriod = alarm.Period;
				this.alertEvaluationPeriods = alarm.Evaluationperiods;
				this.alertStatistics = alarm.Statistic;
				this.alertComparisonOperator = alarm.Comparisonoperator;
				this.alertThreshold = alarm.Threshold;
				this.alertCriticality = alarm.Typealarm;
				this.alertTower1 = alarm.Tower1;
				this.alertTower2 = alarm.Tower2;

			},

			closeCreateForm: function() {

				this.displayCreateForm = false;

				this.alert = null;
				this.alertName = null;
				this.alertSNS = null;
				this.alertNamespace = null;
				this.alertPrefix = null;
				this.alertMetricName = null;
				this.alertPeriod = null;
				this.alertEvaluationPeriods = null;
				this.alertStatistics = null;
				this.alertComparisonOperator = null;
				this.alertThreshold = null;
				this.alertCriticality = null;
				this.alertTower1 = null;
				this.alertTower2 = null;

			},

			async saveAlertCreated() {

				if(this.alert != null && this.alertName !== null && this.alertName !== undefined && this.alertName.length > 0 && this.alertSNS !== null && this.alertSNS !== undefined && this.alertSNS.length > 0) {

					const requestOptionsGetTypeServices = {
						method: 'POST',
						headers: {
							'Content-type': 'application/json',
						},
						body: JSON.stringify({
							Credential: {
								Name: this.serviceType
							}
						})
					};

					var responseGetTypeServices = await fetch(this.url_base + 'dataBase/getTypeServices', requestOptionsGetTypeServices);
					var dataGetTypeServices = await responseGetTypeServices.json();

					let dimensionname = '';
					if('User' in dataGetTypeServices) {
						let getTypeList = dataGetTypeServices['User'];
						getTypeList = getTypeList[0];
						dimensionname = getTypeList['Dimensionsname'];
					}

					let c_MetricsList = [];
					for(var i = 0; i < this.checkedInstancesList.length; i++) {
						c_MetricsList.push({
							InstanceId: this.checkedInstancesList[i],
							TopicArn: this.alertSNS,
							TypeInstance: this.serviceType.toUpperCase(),
							NameClient: this.alertName,
							Tower1: this.alert.Tower1,
							RFC: '999999',
							Tower2: this.alert.Tower2,
							CI: '999999',
							Prefix: this.alert.Prefix,
							AlarmDescription: this.alert.Alarmdescription,
							ActionsEnabled: this.alert.Actionsenabled === 1 ? true : false,
							MetricName: this.alert.Metricname,
							Namespace: this.alert.Namespace,
							Statistic: this.alert.Statistic,
							Period: parseInt(this.alert.Period),
							EvaluationPeriods: parseInt(this.alert.Evaluationperiods),
							DatapointsToAlarm: parseInt(this.alert.Evaluationperiods),
							Threshold: this.alert.Threshold,
							ComparisonOperator: this.alert.Comparisonoperator,
							TypeAlarm: this.alert.Typealarm.toLocaleLowerCase() == 'minor' ? this.alert.Typealarm : '',
							DimensionsName: dimensionname
						});

					}

					let requestOptionsPutMetricAlarm = {
						method: 'PUT',
						headers: {
							'Content-type': 'application/json',
						},
						body: JSON.stringify({
							Credential: {
								TypeSession: 2,
								Accountid: this.accountId,
								Id: this.instanceId
							},
							TypeInstance: 'cloudwatch',
							CreateMetricAlarms: c_MetricsList,
						}),
					};

					fetch(this.url_base + 'agent/putMetricAlarms', requestOptionsPutMetricAlarm);
					this.closeCreateForm();

				}

			},
		}
	}
</script>
