<template>
	<div>

		<div class="row">
			<div class="col-12 mb-2">
				<button class="btn btn-primary" v-on:click="toggleCreateTemplate()">{{buttonTitle}}</button>
			</div>
		</div>

		<div v-if="!displayForm">

			<div class="row" v-if="displayTable">
				<div class="col-12" v-if="listMetrics.length > 0">
					<table class="table table-striped">
						<thead>
							<th class="text-jutify">
								<small class="font-weight-bold">Id</small>
							</th>
							<th class="text-jutify">
								<small class="font-weight-bold">Métrica</small>
							</th>
							<th class="text-jutify">
								<small class="font-weight-bold">Posfijo</small>
							</th>
							<th class="text-jutify">
								<small class="font-weight-bold">Namespace</small>
							</th>
							<th class="text-jutify">
								<small class="font-weight-bold">Ver</small>
							</th>
							<!--
							<th class="text-jutify"><small class="font-weight-bold">Editar</small></th>
							<th class="text-jutify"><small class="font-weight-bold">Eliminar</small></th>
							-->
						</thead>
						<tbody>
							<tr v-for="metric in listMetrics" :key="metric.Id">
								<td>{{metric.Id}}</td>
								<td>{{metric.Metricname}}</td>
								<td>{{metric.Prefix}}</td>
								<td>{{metric.Namespace}}</td>
								<td><button type="button" class="btn btn-primary" v-on:click="openMetricTemplate(metric)">Ver</button></td>
								<!--
								<td><button type="button" class="btn btn-primary">Editar</button></td>
								<td><button type="button" class="btn btn-primary">Eliminar</button></td>
								-->
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-12" v-else>
					<h3 class="text-center">No existen plantillas de alertas</h3>
				</div>
			</div>

			<div class="row" v-else>
				<div class="col-12">
					<form>
						<div class="row">
							<div class="col-1">
								<div class="form-group">
									<label for="metric_Id">Id</label>
									<input type="text" class="form-control" id="metric_Id" v-model="displayMetric.Id" disabled>
								</div>
							</div>
							<div class="col-2">
								<div class="form-group">
									<label for="metric_Namespace">Namespace</label>
									<input type="text" class="form-control" id="metric_Namespace" v-model="displayMetric.Namespace" disabled>
								</div>
							</div>
							<div class="col-4">
								<div class="form-group">
									<label for="metric_Prefix">Prefix</label>
									<input type="text" class="form-control" id="metric_Prefix" v-model="displayMetric.Prefix" disabled>
								</div>
							</div>
						</div>
						<hr>
						<div class="row">

							<div class="col-3">
								<div class="form-group">
									<label for="metric_Nombre">Nombre</label>
									<input type="text" class="form-control" id="metric_Nombre" v-model="displayMetric.Metricname" disabled>
								</div>
							</div>
							<div class="col-9"></div>

							<div class="col-2">
								<div class="form-group">
									<label for="metric_Period">Periodo Segs</label>
									<input type="text" class="form-control" id="metric_Period" v-model="displayMetric.Period" disabled>
								</div>
							</div>
							<div class="col-2">
								<div class="form-group">
									<label for="metric_PeriodMins">Periodo Mins</label>
									<input type="text" class="form-control" id="metric_PeriodMins" v-model="displayMetric.PeriodMinutes" disabled>
								</div>
							</div>
							<div class="col-2">
								<div class="form-group">
									<label for="metric_Evaluationperiods">Poleos</label>
									<input type="text" class="form-control" id="metric_Evaluationperiods" v-model="displayMetric.Evaluationperiods" disabled>
								</div>
							</div>
							<div class="col-6"></div>
							<div class="col-2">
								<div class="form-group">
									<label for="metric_Statistic">Estadística</label>
									<input type="text" class="form-control" id="metric_Statistic" v-model="displayMetric.Statistic" disabled>
								</div>
							</div>
							<div class="col-5">
								<div class="form-group">
									<label for="metric_Comparisonoperator">Operador</label>
									<input type="text" class="form-control" id="metric_Comparisonoperator" v-model="displayMetric.Comparisonoperator" disabled>
								</div>
							</div>
							<div class="col-2">
								<div class="form-group">
									<label for="metric_Threshold">Threshold</label>
									<input type="text" class="form-control" id="metric_Threshold" v-model="displayMetric.Threshold" disabled>
								</div>
							</div>
							<div class="col-2">
								<div class="form-group">
									<label for="metric_Typealarm">Criticidad</label>
									<input type="text" class="form-control" id="metric_Typealarm" v-model="displayMetric.Typealarm" disabled>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-2">
								<div class="form-group">
									<label for="metric_Tower1">Torre 1</label>
									<input type="text" class="form-control" id="metric_Tower1" v-model="displayMetric.Tower1" disabled>
								</div>
							</div>
							<div class="col-2">
								<div class="form-group">
									<label for="metric_Tower2">Torre 2</label>
									<input type="text" class="form-control" id="metric_Tower2" v-model="displayMetric.Tower2" disabled>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<label for="metric_Alarmdescription">Descripción</label>
								<textarea class="form-control" rows="3" name="metric_Alarmdescription" id="metric_Alarmdescription" v-model="displayMetric.Alarmdescription" disabled></textarea>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<button type="button" class="btn btn-primary" v-on:click="closeMetricTemplate()">Regresar</button>
							</div>
						</div>
					</form>
				</div>
			</div>

		</div>

		<div v-else>
			<div class="row">
				<div class="col-2">
					<div class="form-group">
						<label for="alertNamespace">Namespace</label>
						<input type="text" class="form-control" id="alertNamespace" name="alertNamespace" v-model="alertNamespace" disabled>
					</div>
				</div>
				<div class="col-4">
					<div class="form-group">
						<label for="alertPrefix">Posfijo</label>
						<input type="text" class="form-control" id="alertPrefix" name="alertPrefix" v-model="alertPrefix">
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-3">
					<div class="form-group">
						<label for="alertMetric">Métrica</label>
						<select class="form-control" id="alertMetric" name="alertMetric" v-model="alertMetric">
							<option v-for="metric in listMetricsTypes" :value="metric">{{ metric }}</option>
						</select>
					</div>
				</div>
				<div class="col-9"></div>
			</div>
			<div class="row">
				<div class="col-2">
					<div class="form-group">
						<label for="alertPeriodos">Periodos Segs</label>
						<input type="number" min="0" class="form-control" id="alertPeriodos" name="alertPeriodos" v-model="alertPeriodos">
					</div>
				</div>
				<div class="col-2">
					<div class="form-group">
						<label for="alertPoleos">Poleos</label>
						<input type="number" min="0" class="form-control" id="alertPoleos" name="alertPoleos" v-model="alertPoleos">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-2">
					<div class="form-group">
						<label for="alertStatistics">Estadística</label>
						<select class="form-control" id="alertStatistics" name="alertStatistics" v-model="alertStatistics">
							<option v-for="statistic in listStatistics" :value="statistic.Estadistica">{{ statistic.Estadistica }}</option>
						</select>
					</div>
				</div>
				<div class="col-2">
					<div class="form-group">
						<label for="alertOperator">Operador</label>
						<select class="form-control" id="alertOperator" name="alertOperator" v-model="alertOperator">
							<option v-for="operators in listOperators" :value="operators.Operador">{{ operators.Operador }}</option>
						</select>
					</div>
				</div>
				<div class="col-2">
					<div class="form-group">
						<label for="alertThreshold">Threshold</label>
						<input type="number" min="0" class="form-control" id="alertThreshold" name="alertThreshold" v-model="alertThreshold">
					</div>
				</div>
				<div class="col-2">
					<div class="form-group">
						<label for="alertCriticidad">Criticidad</label>
						<select class="form-control" id="alertCriticidad" name="alertCriticidad" v-model="alertCriticidad">
							<option>Minor</option>
							<option>Normal</option>
						</select>
					</div>
				</div>
				<div class="col-3">
					<div class="form-group">
						<label for="alertEvaluationPeriod">Periodos de Evaluacion</label>
						<input type="number" min="0" class="form-control" id="alertEvaluationPeriod" name="alertEvaluationPeriod" v-model="alertEvaluationPeriod">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-2">
					<div class="form-group">
						<label for="alertTower1">Torre 1</label>
						<input type="text" class="form-control" id="alertTower1" name="alertTower1" v-model="alertTower1" disabled>
					</div>
				</div>
				<div class="col-2">
					<div class="form-group">
						<label for="alertTower2">Torre 2</label>
						<input type="text" class="form-control" id="alertTower2" name="alertTower2" v-model="alertTower2" disabled>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<label for="alertDescription">Descripción</label>
					<textarea class="form-control" rows="3" id="alertDescription" name="alertDescription" v-model="alertDescription"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-2">
					<button class="btn btn-primary" v-on:click="createTemplate()">Crear</button>
				</div>
			</div>
		</div>

	</div>
</template>

<script>

	export default {

		data() {
			return {
				url_base: 'https://itoc-plus.triara.mexico/api/aws/',

				displayTable: true,
				displayForm: false,

				listMetrics: [],
				listStatistics: [],
				listOperators: [],
				listMetricsTypes: [],

				instanceId: null,
				accountId: null,

				displayMetric: null,
				typeService: null,
				buttonTitle: 'Crear',
				currentServiceType: null,

				alertNamespace: null,
				alertPrefix: null,
				alertMetric: null,
				alertPeriodos: null,
				alertPoleos: null,
				alertStatistics: null,
				alertOperator: null,
				alertThreshold: null,
				alertCriticidad: null,
				alertEvaluationPeriod: null,
				alertTower1: 'Queretaro',
				alertTower2: 'AWS',
				alertDescription: null,
				httpsAgent: null
			}
		},

		async created() {

			// Obtener parámetros GET de la URL
			let splittedPath = window.location.pathname.split('/');

			// Se obtienen instance Id y account Id
			this.instanceId = splittedPath[splittedPath.length - 1];
			this.accountId = splittedPath[splittedPath.length - 2];

			let c_location = window.location.href.replace(window.location.pathname, '');
			if(c_location !== null && c_location !== undefined && typeof c_location === 'string' && c_location.length > 0) {
				this.url_base = c_location + '/api/aws/';
			}

			// Se obtienen tipos de servicios
			const requestOptionsPostServiceTypes = {
				method: 'POST',
				headers: {
					'Content-type': 'application/json',
				},
				body: JSON.stringify({Credential: {Name: ""}}),
			};

			var responsePostServiceTypes = await fetch(this.url_base + 'dataBase/getTypeServices', requestOptionsPostServiceTypes);
			var dataPostServiceTypes = await responsePostServiceTypes.json();

			let cServiceType = null;
			if('User' in dataPostServiceTypes) {

				let serviceTypesArray = dataPostServiceTypes['User'];

				if(Array.isArray(serviceTypesArray)) {
					for( var i = 0; i < serviceTypesArray.length; i++ ) {
						if('Nombre' in serviceTypesArray[i]) {

							let serviceTypeName = serviceTypesArray[i]['Nombre'].toLowerCase();

							for( var j = 0; j < splittedPath.length; j++ ) {
								if(splittedPath[j].toLocaleLowerCase() == serviceTypeName) {
									cServiceType = splittedPath[j].toLocaleLowerCase();
								}
							}

						}
					}
				}

			}

			this.currentServiceType = cServiceType.toLocaleUpperCase();
			this.alertNamespace = 'AWS/' + this.currentServiceType;

			if(this.currentServiceType !== null) {

				const requestOptionsGetAlarmMetric = {
					method: "POST",
					headers: {
						'Content-type': 'application/json',
					},
					body: JSON.stringify({Credential: {Name: ""}}),
				};

				var responseGetAlarmMetric = await fetch(this.url_base + 'dataBase/getAlarmMetric', requestOptionsGetAlarmMetric);
				var dataGetAlarmMetric = await responseGetAlarmMetric.json();

				if('Metric' in dataGetAlarmMetric) {

					let metricList = dataGetAlarmMetric['Metric'];
					let metricListBuffer = [];

					for(let i = 0; i < metricList.length; i++) {

						let cNamespace = metricList[i].Namespace;

						if(cNamespace !== null && cNamespace !== undefined && cNamespace.indexOf('/') > -1) {

							cNamespace = cNamespace.split('/');
							cNamespace = cNamespace[cNamespace.length - 1];

							if(cNamespace.toLocaleLowerCase() === this.currentServiceType.toLocaleLowerCase()) {
								metricList[i]['PeriodMinutes'] = (metricList[i].Period / 60);
								metricListBuffer[metricListBuffer.length] = metricList[i];
							}
						}

					}

					this.listMetrics = metricListBuffer;
				}

				const requestOptionsGetListMetrics = {
					method: "POST",
					headers: {
						'Content-type': 'application/json',
					},
					body: JSON.stringify({
						Credential: {
							TypeSession: 2,
							Accountid: this.accountId,
							Id: this.instanceId
						},
						TypeInstance: 'cloudwatch',
						Search: {
							Namespace: this.alertNamespace
						}
					}),
				}; 

				var responseGetAlarmMetric = await fetch(this.url_base + 'agent/getListMetrics', requestOptionsGetListMetrics);
				var dataGetAlarmMetric = await responseGetAlarmMetric.json();

				let metricTypesList = [];
				if('Metrics' in dataGetAlarmMetric) {

					let metric = dataGetAlarmMetric['Metrics'];

					if(this.alertNamespace in metric) {
						let namespaceMetric = metric[this.alertNamespace];
						for(let i = 0; i < namespaceMetric.length; i++) {
							metricTypesList.push(namespaceMetric[i]['MetricName']);
						}
					}

				}

				this.listMetricsTypes = metricTypesList;
			}
			else {
				// aquí hay un redirect para marcar error
			}

			const requestOptionsPostStatistics = {
				method: 'POST',
				headers: {
					'Content-type': 'application/json',
				},
				body: JSON.stringify({
					Credential: {
						Name: ''
					}
				}),
			};

			var responsePostStatistics = await fetch(this.url_base + 'dataBase/getStatisticsAlerts', requestOptionsPostStatistics);
			var dataPostStatistics = await responsePostStatistics.json();
			if('StatisticsAlerts' in dataPostStatistics) {
				this.listStatistics = dataPostStatistics['StatisticsAlerts'];
			}


			const requestOptionsPostOperators = {
				method: 'POST',
				headers: {
					'Content-type': 'application/json',
				},
				body: JSON.stringify({
					Credential: {
						Name: ''
					}
				}),
			};

			var responsePostOperators = await fetch(this.url_base + 'dataBase/getAlertOperators', requestOptionsPostOperators);
			var dataPostOperators = await responsePostOperators.json();
			if('AlertOperator' in dataPostOperators) {
				this.listOperators = dataPostOperators['AlertOperator'];				
			}

		},

		methods: {

			openListAlarmTemplate: function(typeService) {
				if(typeService !== null && typeService !== undefined) {
					this.typeService = typeService;
				}
			},

			openMetricTemplate: function(metric) {
				this.displayTable = false;
				this.displayMetric = metric;
			},

			closeMetricTemplate: function() {
				this.displayTable = true;
			},

			toggleCreateTemplate: function() {
				if(this.displayForm) {
					this.displayForm = false;
					this.buttonTitle = 'Crear';
				}
				else {
					this.displayForm = true;
					this.buttonTitle = 'Regresar';
				}

				this.alertStatistics;
			},

			async createTemplate() {

				if(this.alertNamespace !== null && this.alertPrefix !== null &&
				this.alertMetric !== null && this.alertPeriodos !== null &&
				this.alertPoleos !== null && this.alertStatistics !== null &&
				this.alertOperator !== null && this.alertThreshold !== null &&
				this.alertCriticidad !== null && this.alertTower1 !== null &&
				this.alertTower2 !== null && this.alertDescription !== null &&
				this.alertEvaluationPeriod !== null) {

					const requestOptionsPutAlarmMetricNew = {

						method: 'PUT',
						headers: {
							'Content-type': 'application/json',
						},
						body: JSON.stringify({
							'Tower1': this.alertTower1,
							'Tower2': this.alertTower2,
							'Prefix': "_" + this.alertPrefix,
							'AlarmDescription': this.alertDescription,
							'ActionsEnabled': true,
							'MetricName': this.alertMetric,
							'Namespace': this.alertNamespace,
							'Statistic': this.alertStatistics,
							'Period': this.alertPeriodos,
							'EvaluationPeriods': this.alertEvaluationPeriod,
							'DatapointsToAlarm': this.alertPoleos,
							'Threshold': this.alertThreshold,
							'ComparisonOperator': this.alertOperator,
							'TypeAlarm': this.alertCriticidad
						}),
					}

					var responsePutAlarmMetricNew = await fetch(this.url_base + 'dataBase/putAlarmMetricNew', requestOptionsPutAlarmMetricNew);
					var dataPutAlarmMetricNew = await responsePutAlarmMetricNew.json();
					if('Insert' in dataPutAlarmMetricNew) {
						if(dataPutAlarmMetricNew['Insert'] == 1) {
							this.alertPrefix = null;
							this.alertDescription = null;
							this.alertMetric = null;
							this.alertStatistics = null;
							this.alertPeriodos = null;
							this.alertEvaluationPeriod = null;
							this.alertPoleos = null;
							this.alertThreshold = null;
							this.alertOperator = null;
							this.alertCriticidad = null;

							this.displayForm = false;

							this.buttonTitle = 'Crear';

							const requestOptionsGetAlarmMetric = {
								method: "POST",
								headers: {
									'Content-type': 'application/json',
								},
								body: JSON.stringify({Credential: {Name: ""}}),
							};

							var responseGetAlarmMetric = await fetch(this.url_base + 'dataBase/getAlarmMetric', requestOptionsGetAlarmMetric);
							var dataGetAlarmMetric = await responseGetAlarmMetric.json();

							if('Metric' in dataGetAlarmMetric) {

								let metricList = dataGetAlarmMetric['Metric'];
								let metricListBuffer = [];

								for(let i = 0; i < metricList.length; i++) {

									let cNamespace = metricList[i].Namespace;

									if(cNamespace !== null && cNamespace !== undefined && cNamespace.indexOf('/') > -1) {

										cNamespace = cNamespace.split('/');
										cNamespace = cNamespace[cNamespace.length - 1];

										if(cNamespace.toLocaleLowerCase() === this.currentServiceType.toLocaleLowerCase()) {
											metricList[i]['PeriodMinutes'] = (metricList[i].Period / 60);
											metricListBuffer[metricListBuffer.length] = metricList[i];
										}
									}

								}

								this.listMetrics = metricListBuffer;
							}

						}
					}
				}
			},

		}

	}
</script>
